body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	background-color: #CCCCFF;
}

p.help{
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #006699;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #006699;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
a:active {
	color: #CC3333;
}
.main{
	font-weight:bold;
}
